---
const {title} = Astro.props;

const getTitle = (title: string | undefined): string => {
    const mainTitle = "The TTTM Challenge"
    return title ? title + " - " + mainTitle : mainTitle
}
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{getTitle(title)}</title>
</head>
<body>
<div class="wrap">
    <nav class="nav">
        <a href="/" class="logo about">The <span class="main">TTTM</span> Challenge</a>
        <a href="/rankings" class="rankings">Rankings</a>
        <a href="/sandbox" class="sandbox">Sandbox</a>
    </nav>
    <h1>{title}</h1>
    <article>
        <slot/> <!-- your content is injected here -->
    </article>
    <!-- <Footer /> -->
</div>
</body>
</html>
<style lang="scss" is:global>
  // Colors: https://x.com/alexcristache/status/1841852966359146798?t=AZl7vBZcaJvRyxx6Yz_g-w
  @use "sass:list";
  @use "sass:color";

  $font-stack: Helvetica, Arial;
  $background-color: #000000;
  $primary-color: #FFFFFF;
  $logo-color: #ff6500;

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    $font-stack: list.append($font-stack, sans-serif);
    font-family: $font-stack;
    padding: 20px;
    background-color: $background-color;
    color: $primary-color;
  }

  pre {
    padding: 10px
  }

  body, p {
    font-size: 13pt;
    line-height: 18pt;
  }

  a {
    color: #999;
  }

  nav.nav {
    line-height: 40px;
    height: 40px;
    display: block;
    clear: both;
    margin-bottom: 20px;

    .logo {
      background-color: $logo-color;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;

      span.main {
        font-weight: 700;
      }

      &:hover {
        background-color: color.grayscale($logo-color);
      }
    }

    .logo, a {
      color: #FFFFFF;
      margin-right: 5px;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }

    a:hover {
      background-color: color.scale(#333, $lightness: 10%);
    }
  }

  h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 40px;
  }

  div.wrap {
    max-width: 1200px;
    margin: 0 auto;
  }

  table {
    background-color: #24292e;
    border: 1px solid #666;
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
      padding: 5px;
      margin: 0;
    }

    thead th {
      border-bottom: 2px solid #eee;
    }
  }
</style>